/* This is a minimal CSS file */

/* Style for the body element */
body {
    background-color:rgb(33, 33, 33);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Style for h1 elements */
h1 {
    color: rgb(255, 255, 255);
    font-size: 24px;
}

h2 {
    color:rgb(255, 255, 255)
}


/* Style for p elements */
p {
    color: #ffffff;
    font-size: 16px;
}

img {
    max-width: 200px;   /* Maximum width of 200px */
    height: auto;       /* Height adjusts automatically to maintain aspect ratio */
  }
  
